<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageSuite\OrderFailureNotification\Service\ConfigProviderInterface"
                type="MageSuite\OrderFailureNotification\Service\Configuration"/>
    <preference for="MageSuite\OrderFailureNotification\Service\NotificationInterface"
                type="MageSuite\OrderFailureNotification\Service\Notification"/>
</config>
